
/* encabezado: */



/* color del body: */

/* cartas del index: */


/* cartas de la pagina mejores locales: */

.card10 {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
    width: 333.34px;
    height: 208px;
}

/* cartas de la pagina mejores locaes: */

.card11 {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
    width: 333.34px;
    height: 208px;
    margin-top: -307px;
}

.card11:hover {
    transform: translateY(190px);
}

/* carta de la pagina registrarse: */

.card2 {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
    margin-top: -15px;
}

/* carta de la pagina politica y privacidad: */

.card3 {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
}

/* article del index */



/* titulo de las tarjetas del index: */

/* titulo de los tres circulos del index abajo del titulo servicios: */

/* titulo de la pagina registrarse */

.card__title2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

/* descripcion de la pagina index: */

/* link para registrarse de la pagina registrarse */

.card__link2 {
    margin-top: 20px;
    background-color: #22c55e;
    display: inline-block;
    margin-left: 175px;
    margin-bottom: 30px;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    color: #e2e8f0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

/* link saber mas en la pagina index: */

/* imagenes de la tarjeta del index: */



/* imagenes de la seccion de servicios en el index: */

/* div de las imagenes de servicios en el index: */

.filters_services {
    width: 140px;
}

.ubicacion_pelu {
    margin-left: 20px;
}

.placeholder_title {
    margin-left: 90px;
}

.ubication_cities {
    margin-left: -30px;
}

.filter_title {
    margin-top: 20px;
}

.filter_total {
    margin-left: 20px;
}

.max-min_placeholder {
    width: 70px;
    margin-left: 20px;
    margin-right: -15px;
    margin-top: 2px;
}

.placeholder_title {
    margin-left: 20px;
}

.aside_bar_left {
    margin-top: 50px;
}

.courses__content_pelu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 0 auto;
    margin-top: -1000px;
    margin-left: 180px;
}

.courses__content_pelu_prod {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 0 auto;
    margin-top: -1240px;
    margin-left: 180px;
}




.courses__content_pelu_comprarproductos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -1200px;
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin: 0 auto;
    justify-content: space-between;
}

.services_content_01 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
}



.piedepagina {
    display: grid;
    justify-content: space-between;
}



.footer_title4 {
    text-align: center;
}

/* logos en el borde inferior derecho */

.card_register {
    background-color: white;
    border: 20px 20px;
    padding: 20px;
    width: 800px;
    height: 500px;
    border-radius: 30px;
    border-color: black;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.774);
    position: relative;
    position: absolute;
    top: 30px;
    left: 500px;
}

.card--register {
    position: relative;
}

.register_input {
    padding: 7px;
}

.registro {
    margin-bottom: 10px;
    text-align: center;
}

.main__register {
    height: 600px;
    position: relative;
}

.courses__content2 {
    display: grid;
    grid-template-columns: 500px;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.courses__content3 {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 700px;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
}

.register_input1 {
    padding: 7px;
    width: 150px;
    border-radius: 10px;
    margin-left: 85px;
}

.register-input1 {
    grid-area: Nombre;
    display: inline-block;
}

.register_input2 {
    padding: 7px;
    width: 150px;
    border-radius: 10px;
    margin-left: 10px;
}

.register_input3 {
    padding: 7px;
    width: 314px;
    border-radius: 10px;
    margin-left: 85px;
    margin-top: 15px;
}

.register_input4 {
    padding: 7px;
    width: 314px;
    border-radius: 10px;
    margin-left: 85px;
    margin-top: 15px;
}

.register_input5 {
    padding: 7px;
    width: 314px;
    border-radius: 10px;
    margin-left: 85px;
    margin-top: 15px;
}

.register_input6 {
    padding: 7px;
    width: 314px;
    border-radius: 10px;
    margin-left: 85px;
    margin-top: 15px;
}

.register_input7 {
    padding: 7px;
    width: 200px;
    border-radius: 10px;
    background-color: #22c55e;
    color: #ffffff;
}

.register_footer {
    text-align: center;
    margin-top: 20px;
    line-height: 18px;
    padding: 0 50px;
}

.register_footer2 {
    text-align: center;
}

.register_login {
    color: rgb(0, 140, 255);
}

.register_block {
    display: flex;
    justify-content: center;
}

.footer_section4 {
    text-align: center;
    margin-top: 20px;
}

.main_servpeluqueria {
    position: relative;
}

.barra_busqueda_serv {
    margin-top: -70px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 30px;
    width: 200px;
    position: absolute;
    top: 75px;
    left: 465px;
}

.barra_busqueda2 {
    padding: 10px;
    border-radius: 30px;
    height: 30px;
    width: 200px;
    transition: all 0.5s;
    position: absolute;
    top: 7px;
    left: 415px;
}

.barra_busqueda_serv:focus {
    width: 400px;
    border: 3px solid black;
}


.barra_busqueda2:focus {
    width: 400px;
    border: 4px solid black;
}


.barra__busqueda--boton_serv {
    height: 36px;
    width: 40px;
    border-radius: 30px;
    border-color: black;
    position: absolute;
    left: 935px;
    top: 6px
}

.filter_serv {
    width: 150px;
    position: absolute;
    top: 150px;
    left: 1100px;
}

.filter_text {
    position: absolute;
    top: 110px;
    left: 1100px
}

.filter_precio {
    position: absolute;
    top: 350px;
    left: 1100px
}

.filter_bar {
    border-radius: 5px;
    width: 80px;
    position: absolute;
    top: 380px;
    left: 1095px;
}

.filter_guion {
    position: absolute;
    top: 378px;
    left: 1183px;
}

.filter_bar2 {
    border-radius: 5px;
    width: 80px;
    position: absolute;
    top: 380px;
    left: 1198px;
}

.filter_ubicacion {
    position: absolute;
    top: 450px;
    left: 1098px
}

.filter_cities {
    position: absolute;
    top: 480px;
    right: 705px;
}

.card-us {
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.774);
    padding: 20px;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 500px;
    left: 50px;
}

.card__header-us {
    position: relative;
}

.card_header-img-us {
    width: 100%;
    margin-bottom: 20px;
}

.card__description-us {
    margin-bottom: 10px;
}

.card-us2 {
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.774);
    padding: 20px;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 500px;
    left: 700px;
}

.card__header-us2 {
    position: relative;
}

.card_header-img-us2 {
    width: 100%;
    margin-bottom: 20px;
}

.card__description-us2 {
    margin-bottom: 10px;
}

.card-us3 {
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.774);
    padding: 20px;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 500px;
    left: 1400px;
}

.card__header-us3 {
    position: relative;
}

.card_header-img-us3 {
    width: 100%;
    margin-bottom: 20px;
}

.card__description-us3 {
    margin-bottom: 10px;
}





.antecedentespreliminares {
    text-align: center;
    height: 300px;
}


.texto_animaciones {
    text-align: center;
}

.animate_body {
    height: 600px;
}

.main_animaciones {
    position: relative;
}

.sun {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 100px;
    left: 40px;
    animation-name: sunMove;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

.image_animation {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 1400px;
    animation-name: sprayMove;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

.image_animation2 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 1600px;
    animation-name: makeupMove;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

.image_animation3 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 230px;
    animation-name: buyMove;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

.image_animation4 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 450px;
    animation-name: depilateMove;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

.image_animation5 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 1800px;
    animation-name: buyMove;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

.map_arg {
    margin-top: 25px;
    margin-left: 500px;

}

.main_newsection {
    position: relative;
}



.card__title10 {
    font-size: 30px;
    text-align: center;
    margin-top: -15px;
}

.footer_seccion1 {
    margin-top: 150px;
}

.footer_seccion_peluqueria_comprarproductos {
    margin-top: 150px;
}

.footer_seccion_peluqueria {
    margin-top: 5px;
}

.footer__content1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.servpeluqueria_title {
    margin-left: 10px;
}

.card__link2:hover {
    background-color: #1ca24d;
    color: white;
}

.card__link2:active {
    transform: scale(0.9);
}








/* animaciones de la pagina politica y privaciodad: */

@keyframes sunMove {
    0% {
        top: 120px;
    }

    50% {

    }

    100% {

        top: 600px;
    }
}

@keyframes depilateMove {
    0% {
        top: 120px;
    }

    50% {

    }

    100% {

        top: 600px;
    }
}

@keyframes makeupMove {
    0% {
        top: 120px;
    }

    50% {

    }

    100% {
        top: 600px;
    }
}

@keyframes sprayMove {
    0% {
        top: 600px;
    }

    50% {

    }

    100% {

        top: 120px;
    }
}

@keyframes buyMove {
    0% {
        top: 600px;
    }

    50% {

    }

    100% {

        top: 120px;
    }
}








.card-img-top {
    height: 183.53px;
}







.card_peluqueria {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
    height: 398px;
    width: 270px;
}

.card_peluqueria_01 {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
    height: 100%;
    width: 270px;
}

.card__title_peluqueria {
    font-size: 20px;
    padding: 10px;
}

.card__description_peluqueria {
    padding: 10px;
}

.card__link_peluqueria {
    background-color: #2232c5;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #e2e8f0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.image_pelu {
    width: 100%;
}

.card_peluqueria2 {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
    height: 200px;
    width: 1500px;
    display: flex;
}

.card__title_peluqueria2 {
    font-size: 20px;
    padding: 10px;
}

.card__description_peluqueria2 {
    padding: 10px;
}

.image_pelu2 {
    width: 100%;
    height: 100%;
}

.card_peluqueria_serv_2 {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
    height: 300px;
    width: 270px;
}

.card__title_peluqueria_serv_2 {
    font-size: 20px;
    padding: 10px;
}

.card__description_peluqueria_serv_2 {
    padding: 10px;
}

.card__link_peluqueria_serv_2 {
    background-color: #2232c5;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #e2e8f0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.card__link_peluqueria:hover {
    background-color: #14208a;
    color: #e2e8f0;
}

/* mediaqueries de la pagina index: */

/* mediaqueries de la pagina registrarse: */

@media (max-width: 506px) {
    .courses__content2 {
        grid-template-columns: 400px;
}
    .registers_inputs {
        margin-left: -50px;
    }

    .card__link2 {
        margin-left: 120px;
    }
}

@media (max-width: 406px) {
    .courses__content2 {
        grid-template-columns: 200px;
    }
    .registers_inputs {
        margin-left: -70px;
    }

    .register-input2 {
        margin-top: 15px;
        margin-left: 85px;
    }

    .card__link2 {
        margin-left: 120px;
    }

    .register_input3 {
        width: 150px;
    }

    .register_input4 {
        width: 150px;
    }

    .register_input5 {
        width: 150px;
    }

    .register_input6 {
        width: 150px;
    }

    .card__link2 {
        margin-left: 25px;
    }
}

@media (max-width: 212px) {
    .courses__content2 {
        margin-left: 60px;
    }
}

@media (max-width: 160px) {
    .courses__content2 {
        margin-left: 120px;
    }
}

@media (max-width: 105px) {
    .courses__content2 {
        grid-template-columns: 130px;
    }

    .register_input1 {
        width: 100px;
    }

    .register-input2 {
        width: 100px;
    }

    .card__link2 {
        margin-left: 15px;
        width: 100px;
    }

    .register_input3 {
        width: 100px;
    }

    .register_input4 {
        width: 100px;
    }

    .register_input5 {
        width: 100px;
    }

    .register_input6 {
        width: 100px;
    }
}

@media (max-width: 104px) {
    .courses__content2 {
        margin-left: 30px;
    }
}

@media (max-width: 100px) {
    .courses__content2 {
        grid-template-columns: 90px;
    }

    .card__title2 {
        font-size: 15px;
    }

    .register_input1 {
        width: 50px;
    }

    .register-input2 {
        width: 50px;
    }

    .card__link2 {
        width: 50px;
        font-size: 10px;
    }

    .register_input3 {
        width: 50px;
    }

    .register_input4 {
        width: 50px;
    }

    .register_input5 {
        width: 50px;
    }

    .register_input6 {
        width: 50px;
    }

    .register_footer {
        margin-left: -40px;
    }
}




/* mediaqueries de la seccion servicio de peluqueria: */

@media (max-width: 351px) {
    .barra_busqueda_serv {
        margin-left: -100px;
    }
}


@media (max-width: 1396px) {
    .courses__content_pelu {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1092px) {
    .courses__content_pelu {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 678px) {
    .barra_busqueda_serv {
        display: none;
    }
}

@media (max-width: 772px) {
    .courses__content_pelu {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 192px) {
    .barra_busqueda_serv {
        display: none;
    }
}

@media (max-width: 187px) {
    .courses__content_pelu {
        margin-top: -1200px;
    }
}

@media (max-width: 121px) {
    .courses__content_pelu {
        margin-top: -1500px;
    }
}

@media (max-width: 119px) {
    .aside_bar_left{
        display: none;
    }

    .courses__content_pelu {
        margin-top: 20px;
        margin-left: 0%;
    }

    .servpeluqueria_title {
        display: none;
    }
}

@media (max-width: 68px) {
    .card_peluqueria {
        width: 200px;
    }

    .courses__content_pelu {
        gap: 200px;
    }
}



/* mediaqueries de la pagina compra de productos: */

@media (max-width: 1396px) {
    .courses__content_pelu_prod {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1092px) {
    .courses__content_pelu_prod {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 772px) {
    .courses__content_pelu_prod {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 187px) {
    .courses__content_pelu_prod {
        margin-top: -1200px;
    }
}

@media (max-width: 121px) {
    .courses__content_pelu_prod {
        margin-top: -1500px;
    }
}

@media (max-width: 119px) {

    .courses__content_pelu_prod {
        margin-top: 20px;
        margin-left: 0%;
    }
}

@media (max-width: 68px) {
    .card_peluqueria_01 {
        width: 200px;
    }

    .courses__content_pelu_prod {
        gap: 200px;
    }
}

@media (max-width: 992px) {
    .services_content_01 {
        margin-top: 200px;
    }
}

@media (max-width: 768px) {
    .services_content_01 {
        margin-top: 500px;
    }
}

@media (max-width: 612px) {
    .services_content_01 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 436px) {
    .services_content_01 {
        margin-top: 700px;
    }
}

@media (max-width: 342px) {
    .services_content_01 {
        margin-top: 900px;
    }
}

@media (max-width: 342px) {
    .services_content_01 {
        margin-top: 1500px;
    }

    .services_content_01 {
        grid-template-columns: repeat(1, 1fr);
    }
}